main {
  overflow: hidden;
  padding: 32px;
  display: flex;
  flex-direction: column; }
  main .events {
    background-image: linear-gradient(80.72deg, rgba(7, 59, 94, 0.55) 0%, rgba(18, 68, 102, 0.55) 30.1%, rgba(31, 80, 113, 0) 69.64%), url(./../../img/banner1920px.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 2px; }
    main .events h3 {
      margin-top: 50px;
      margin-left: 140px;
      white-space: nowrap;
      font-style: normal;
      font-weight: 500;
      font-size: 1.35vw;
      line-height: 23px;
      letter-spacing: 1.5px;
      color: #FFFFFF; }
    main .events h1 {
      margin-top: 35px;
      margin-left: 140px;
      white-space: nowrap;
      font-style: normal;
      font-weight: bold;
      font-size: 6.76vw;
      line-height: 117px;
      display: flex;
      align-items: center;
      letter-spacing: 1.9px;
      text-transform: uppercase;
      color: #FFFFFF; }
    main .events-footer {
      margin: 60px 0 60px 140px;
      display: flex;
      align-items: center; }
      main .events-footer button {
        margin-left: 58px;
        padding: 22px 35px 24px;
        width: 260px;
        height: 66px;
        background: #74BD43;
        white-space: nowrap;
        border-radius: 2px;
        border: none;
        text-shadow: none;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #FFFFFF;
        cursor: pointer; }
    main .events-time {
      display: flex; }
      main .events-time .date {
        position: relative;
        margin-left: 36px; }
        main .events-time .date .time {
          position: absolute;
          top: -4%;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center; }
          main .events-time .date .time .number {
            font-style: normal;
            font-weight: 900;
            font-size: 26.0514px;
            line-height: 31px;
            text-align: center;
            letter-spacing: -0.766216px;
            color: #FFFFFF; }
          main .events-time .date .time .text {
            font-style: normal;
            font-weight: normal;
            font-size: 12.2595px;
            line-height: 14px;
            text-align: center;
            letter-spacing: 0.306487px;
            text-transform: uppercase;
            color: #FFFFFF; }
      main .events-time .date:first-child {
        margin: 0; }
  main .sessions {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; }
    main .sessions .sessions-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      main .sessions .sessions-header h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        color: #353535; }
    main .sessions .sessions-selector {
      width: 330px;
      height: 42px;
      background: #FFFFFF;
      border: 1px solid #CFCFCF;
      box-sizing: border-box;
      border-radius: 2px;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #A6A6A6;
      cursor: pointer; }
      main .sessions .sessions-selector .selector {
        display: flex;
        align-items: center; }
      main .sessions .sessions-selector .filter {
        margin: 15px 14px 13.3px 24px; }
      main .sessions .sessions-selector .arrow {
        transform: rotate(180deg);
        margin: 18.4px 20px 18.4px 120px; }
      main .sessions .sessions-selector .dropdown {
        width: 330px;
        height: 144px;
        background: #FFFFFF;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 2px;
        position: absolute;
        top: 665px;
        display: flex;
        flex-direction: column; }
        main .sessions .sessions-selector .dropdown.hide {
          display: none; }
        main .sessions .sessions-selector .dropdown-item {
          padding: 10px;
          display: flex;
          align-items: center; }
          main .sessions .sessions-selector .dropdown-item:hover {
            background: #F4FFED;
            border-radius: 2px; }
          main .sessions .sessions-selector .dropdown-item .accept, main .sessions .sessions-selector .dropdown-item span {
            margin-left: 12px; }
    main .sessions .sessions-item {
      margin-bottom: 20px;
      background: #FFFFFF;
      border: 1px solid #CFCFCF;
      box-sizing: border-box;
      border-radius: 2px;
      display: flex;
      cursor: default; }
      main .sessions .sessions-item:hover {
        border: 1px solid #74BD43;
        box-sizing: border-box;
        box-shadow: 0 7px 25px rgba(82, 154, 34, 0.2);
        border-radius: 2px; }
        main .sessions .sessions-item:hover button {
          background: #74BD43;
          border: 1px solid #74BD43;
          color: #FFFFFF; }
        main .sessions .sessions-item:hover .sessions-time {
          background: #74BD43;
          border-radius: 2px; }
          main .sessions .sessions-item:hover .sessions-time .time {
            color: #FFFFFF; }
          main .sessions .sessions-item:hover .sessions-time .date {
            color: #FFFFFF; }
          main .sessions .sessions-item:hover .sessions-time svg path {
            fill: #F4FFED; }
      main .sessions .sessions-item button {
        padding: 17px 35px;
        margin: 46px 40px 44px 0;
        width: 210px;
        height: 56px;
        white-space: nowrap;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #74BD43;
        background: #FFFFFF;
        border: 1px solid #74BD43;
        box-sizing: border-box;
        border-radius: 2px;
        text-shadow: none;
        cursor: pointer;
        align-self: center; }
    main .sessions .sessions-time {
      margin: -1px;
      max-width: 260px;
      width: 100%;
      min-height: 146px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #FFFFFF;
      border: 1px solid #CFCFCF;
      box-sizing: border-box;
      border-radius: 2px; }
      main .sessions .sessions-time svg {
        margin: 0 110px 6px; }
      main .sessions .sessions-time .time {
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: #353535; }
      main .sessions .sessions-time .date {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.4px;
        color: #5E5E5E; }
    main .sessions .sessions-information {
      display: flex;
      flex-direction: column;
      padding: 30px 68px 27px 40px; }
      main .sessions .sessions-information h3 {
        margin-bottom: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: #5E5E5E; }
      main .sessions .sessions-information p {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.7px;
        color: #353535; }
  main .video {
    width: 100%; }
    main .video h3 {
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #353535; }
    main .video-content {
      display: flex; }
    main .video-last-wrapper {
      flex-shrink: 1;
      flex-grow: 0; }
    main .video-last {
      display: block;
      max-width: 100%;
      height: auto; }
    main .video .posts {
      max-width: 540px;
      width: 100%;
      height: auto;
      margin-left: 19px;
      display: flex;
      flex-direction: column; }
      main .video .posts .posts-creator {
        padding: 15px 0;
        background: #FFFFFF;
        border: 1px solid #D1D0D0;
        box-sizing: border-box;
        border-radius: 4px;
        display: flex; }
        main .video .posts .posts-creator img {
          margin-left: 15px;
          width: 32px;
          height: 32px;
          border-radius: 50%; }
        main .video .posts .posts-creator label {
          position: relative; }
        main .video .posts .posts-creator label:before {
          cursor: pointer;
          content: "";
          position: absolute;
          right: 10px;
          top: 28%;
          bottom: 0;
          width: 16px;
          height: 16px;
          background: url("./../../img/video-icons/image-icon.svg") center/contain no-repeat; }
        main .video .posts .posts-creator input {
          max-width: 327px;
          min-width: 0;
          width: 100%;
          height: 36px;
          margin-left: 13px;
          padding: 0 15px;
          opacity: 0.5;
          border: 1px solid #D1D0D0;
          box-sizing: border-box;
          border-radius: 2px; }
          main .video .posts .posts-creator input::placeholder {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 24px;
            display: flex;
            align-items: center;
            letter-spacing: 0.15px;
            color: #9E9E9E; }
        main .video .posts .posts-creator button {
          padding: 10px 20px;
          margin: 0 15px;
          width: 126px;
          height: 36px;
          white-space: nowrap;
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          letter-spacing: 1.25px;
          text-transform: uppercase;
          color: #FFFFFF;
          background: #74BD43;
          border: none;
          border-radius: 2px;
          text-shadow: none;
          cursor: pointer; }
      main .video .posts .posts-item {
        margin-top: 16px;
        max-width: 540px;
        width: 100%;
        height: auto;
        background: #FFFFFF;
        border: 1px solid #D1D0D0;
        box-sizing: border-box;
        border-radius: 2px; }
        main .video .posts .posts-item-image {
          padding: 15px 10px;
          flex-shrink: 1;
          flex-grow: 0; }
          main .video .posts .posts-item-image img {
            display: block;
            max-width: 100%;
            height: auto; }
        main .video .posts .posts-item .header {
          display: flex;
          justify-content: space-between; }
          main .video .posts .posts-item .header-content {
            display: flex; }
          main .video .posts .posts-item .header-avatar svg {
            margin: 20px 15px 10px; }
          main .video .posts .posts-item .header-info {
            margin-top: 23px;
            display: flex;
            flex-direction: column; }
            main .video .posts .posts-item .header-info .user-name {
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 21px;
              letter-spacing: 0.1px;
              color: #5E5E5E; }
            main .video .posts .posts-item .header-info .date {
              display: flex;
              align-items: center; }
              main .video .posts .posts-item .header-info .date span {
                margin-left: 7.17px;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 15px;
                letter-spacing: 0.4px;
                color: #C2C2C2; }
          main .video .posts .posts-item .header-more {
            margin-top: 32px;
            margin-right: 15px; }
        main .video .posts .posts-item .information {
          margin-left: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 16px;
          display: flex;
          align-items: center;
          letter-spacing: 0.15px;
          color: #9E9E9E; }
        main .video .posts .posts-item > img {
          margin: 15px; }
        main .video .posts .posts-item .popularity {
          padding: 7px 0;
          margin: 0 15px;
          border-top: 1px solid #EAECF2;
          border-bottom: 1px solid #EAECF2;
          display: flex;
          justify-content: flex-end; }
          main .video .posts .posts-item .popularity .vertical-line {
            margin-left: 8px;
            width: 2px;
            background: rgba(223, 224, 235, 0.7); }
          main .video .posts .posts-item .popularity-item {
            cursor: pointer;
            margin-left: 11px;
            display: flex;
            justify-content: center; }
            main .video .posts .posts-item .popularity-item span {
              margin-left: 3.8px;
              font-style: normal;
              font-weight: normal;
              font-size: 11px;
              line-height: 13px;
              color: #B8B8B8; }
        main .video .posts .posts-item .footer {
          padding: 10px 15px;
          display: flex; }
          main .video .posts .posts-item .footer > img {
            width: 32px;
            height: 32px;
            border-radius: 50%; }
          main .video .posts .posts-item .footer label {
            position: relative;
            z-index: 0; }
          main .video .posts .posts-item .footer label:before {
            cursor: pointer;
            content: "";
            position: absolute;
            right: 10px;
            top: 28%;
            bottom: 0;
            z-index: 0;
            width: 16px;
            height: 16px;
            background: url("./../../img/video-icons/image-icon.svg") center/contain no-repeat; }
          main .video .posts .posts-item .footer input {
            max-width: 347px;
            min-width: 0;
            width: 100%;
            height: 36px;
            margin-left: 13px;
            padding: 0 15px;
            opacity: 0.5;
            border: 1px solid #D1D0D0;
            box-sizing: border-box;
            border-radius: 2px; }
            main .video .posts .posts-item .footer input::placeholder {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 24px;
              display: flex;
              align-items: center;
              letter-spacing: 0.15px;
              color: #9E9E9E; }
          main .video .posts .posts-item .footer button {
            padding: 10px 20px;
            margin-left: 10px;
            width: 126px;
            height: 36px;
            white-space: nowrap;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #74BD43;
            border: none;
            border-radius: 2px;
            text-shadow: none;
            cursor: pointer; }
  main .recent {
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    main .recent h3 {
      margin-bottom: 20px;
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #353535; }
    main .recent-container {
      margin-top: 18px;
      display: flex;
      justify-content: center; }
      main .recent-container-swiper {
        display: none; }
    main .recent-item {
      padding: 30px;
      margin-left: 20px;
      max-width: 540px;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #CFCFCF;
      box-sizing: border-box;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
      main .recent-item p {
        margin-top: 18px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #5E5E5E; }
      main .recent-item h4 {
        margin-top: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        color: #353535; }
      main .recent-item:hover {
        border: 1px solid #67B1E2;
        box-shadow: 0 9px 25px rgba(205, 205, 205, 0.3); }
        main .recent-item:hover h4 {
          color: #67B1E2; }
      main .recent-item:first-child {
        margin-left: 0; }
      main .recent-item .image-wrapper {
        flex-shrink: 1;
        flex-grow: 0; }
    main .recent-image {
      display: block;
      max-width: 100%;
      height: auto; }
  main .tables {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    main .tables h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #353535; }
    main .tables-container {
      padding: 30px 0 40px 0;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: 16px; }
      main .tables-container .table {
        max-width: 260px;
        width: 100%;
        padding: 30px 20px;
        cursor: pointer;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        main .tables-container .table:hover {
          border: 1px solid #67B1E2;
          box-sizing: border-box;
          border-radius: 2px;
          box-shadow: 0 9px 25px rgba(205, 205, 205, 0.4); }
        main .tables-container .table .circle {
          margin-bottom: 30px;
          background: #EAEAEA;
          border-radius: 50%; }
        main .tables-container .table .title {
          font-style: normal;
          font-weight: bold;
          font-size: 19px;
          line-height: 23px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 0.5px;
          text-transform: uppercase;
          color: #67B1E2;
          word-wrap: break-word; }
    main .tables-container-mobile {
      display: none; }
    main .tables .see-all {
      width: 100%;
      display: flex;
      justify-content: center; }
      main .tables .see-all button {
        padding: 17px 35px;
        width: 210px;
        height: 56px;
        background: #FFFFFF;
        border: 1px solid #74BD43;
        box-sizing: border-box;
        border-radius: 2px;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #74BD43;
        white-space: nowrap;
        cursor: pointer; }
  main .presenters {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    main .presenters h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #353535; }
    main .presenters-container {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      main .presenters-container-swiper {
        display: none; }
      main .presenters-container .presenter {
        max-width: 390px;
        width: 100%;
        margin-left: 20px;
        background: #FFFFFF;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer; }
        main .presenters-container .presenter:first-child {
          margin: 0; }
        main .presenters-container .presenter img {
          max-width: 300px;
          width: 100%; }
        main .presenters-container .presenter-image {
          flex-shrink: 1;
          flex-grow: 0;
          margin: 40px 30px 0 30px; }
          main .presenters-container .presenter-image img {
            display: block;
            max-width: 100%;
            height: auto;
            border-radius: 800px; }
        main .presenters-container .presenter .position {
          margin-top: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #A6A6A6; }
        main .presenters-container .presenter .name {
          margin-top: 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 24px;
          line-height: 28px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1.3px;
          text-transform: uppercase;
          color: #353535; }
        main .presenters-container .presenter .socials {
          padding: 16px;
          max-width: 260px;
          width: 100%;
          height: auto;
          background: #FFFFFF;
          border: 1px solid #CFCFCF;
          box-sizing: border-box;
          border-radius: 2px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          position: relative;
          top: 36px;
          cursor: default; }
          main .presenters-container .presenter .socials a {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            color: #5E5E5E; }
        main .presenters-container .presenter:hover {
          box-shadow: 0 9px 25px rgba(205, 205, 205, 0.3);
          border: 1px solid #67B1E2; }
          main .presenters-container .presenter:hover .socials {
            border: 1px solid #67B1E2; }
            main .presenters-container .presenter:hover .socials > svg > path {
              fill: #67B1E2; }
            main .presenters-container .presenter:hover .socials > a {
              color: #67B1E2; }
  main .fun-stuff {
    padding-bottom: 80px;
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    main .fun-stuff-container-swiper {
      display: none; }
    main .fun-stuff h3 {
      font-style: normal;
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      color: #353535; }
    main .fun-stuff-container {
      margin-top: 18px;
      display: flex;
      justify-content: center; }
      main .fun-stuff-container .stuff {
        max-width: 540px;
        width: 100%;
        height: 450px;
        margin-left: 20px;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: center; }
        main .fun-stuff-container .stuff:first-child {
          margin-left: 0; }
        main .fun-stuff-container .stuff-info {
          max-width: 450px;
          width: 100%;
          top: 190px;
          padding: 10px 20px 25px;
          height: auto;
          background: #FFFFFF;
          border: 1px solid #CFCFCF;
          box-sizing: border-box;
          border-radius: 2px;
          cursor: pointer;
          position: relative; }
          main .fun-stuff-container .stuff-info h4 {
            font-style: normal;
            font-weight: normal;
            font-size: 22px;
            line-height: 30px;
            text-align: center;
            letter-spacing: -1px;
            color: #353535; }
          main .fun-stuff-container .stuff-info p {
            margin-top: 7px;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #5E5E5E; }
          main .fun-stuff-container .stuff-info:hover {
            background: #FFFFFF;
            border: 1px solid #67B1E2;
            box-sizing: border-box;
            border-radius: 2px; }
            main .fun-stuff-container .stuff-info:hover h4 {
              color: #67B1E2; }

/*# sourceMappingURL=main.css.map */
