.skelleton-main {
  overflow: hidden;
  padding: 32px;
  display: flex;
  flex-direction: column; }



  .skelleton-main-events {
    background-color: #CFCFCF;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 2px; }


    .skelleton-main-events h3 {
      max-width: 280px;
      width: 80vw;
      height: 15px;
      margin-top: 50px;
      margin-left: 140px;
      background: #EAEAEA; }


    .skelleton-main-events h1 {
      max-width: 620px;
      width: 80vw;
      height: 72px;
      background: #EAEAEA;
      margin-top: 35px;
      margin-left: 140px;
      position: relative; }

    .skelleton-main-events-skelleton-footer {
      margin: 60px 0 60px 140px;
      display: flex;
      align-items: center; }
      .skelleton-main-events-skelleton-footer button {
        margin-left: 58px;
        padding: 22px 35px 24px;
        width: 260px;
        height: 66px;
        background: #A6A6A6;
        white-space: nowrap;
        border-radius: 2px;
        border: none;
        cursor: pointer; }
    .skelleton-main-events-time {
      display: flex; }
.skelleton-main-events-date {
    position: relative;
    margin-left: 36px;
    width: 95px;
    height: 95px;
    background: #C2C2C2;
    border-radius: 50%;
}
.skelleton-main-events-time:first-child {
    margin: 0;
}





  .skelleton-main .sessions {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column; }
    .skelleton-main .sessions .sessions-skelleton-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px; }
      .skelleton-main .sessions .sessions-skelleton-header h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        color: #CFCFCF;
        background: #CFCFCF; }
    .skelleton-main .sessions .sessions-selector {
      width: 330px;
      height: 42px;
      background: #A6A6A6;
      border-radius: 2px;
      box-sizing: border-box;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #A6A6A6;
      cursor: pointer; }
      .skelleton-main .sessions .sessions-selector .selector {
        display: flex;
        align-items: center; }
      .skelleton-main .sessions .sessions-selector .dropdown {
        width: 330px;
        height: 144px;
        background: #FFFFFF;
        border: 1px solid #CFCFCF;
        box-sizing: border-box;
        border-radius: 2px;
        position: absolute;
        top: 665px;
        display: flex;
        flex-direction: column; }
        .skelleton-main .sessions .sessions-selector .dropdown.hide {
          display: none; }
        .skelleton-main .sessions .sessions-selector .dropdown-item {
          padding: 10px;
          display: flex;
          align-items: center; }
          .skelleton-main .sessions .sessions-selector .dropdown-item:hover {
            background: #F4FFED;
            border-radius: 2px; }
          .skelleton-main .sessions .sessions-selector .dropdown-item .accept, skelleton-main .sessions .sessions-selector .dropdown-item span {
            margin-left: 12px; }
    .skelleton-main .sessions .sessions-item {
      margin-bottom: 20px;
      background: #EAEAEA;
      border-radius: 2px;
      box-sizing: border-box;
      display: flex;
      cursor: default;
      justify-content: space-between; }
      skelleton-main .sessions .sessions-item button {
        padding: 17px 35px;
        margin: 46px 40px 44px 0;
        width: 210px;
        height: 56px;
        white-space: nowrap;
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        color: #A6A6A6;
        background: #A6A6A6;
        box-sizing: border-box;
        border: none;
        border-radius: 2px;
        text-shadow: none;
        cursor: pointer;
        align-self: center; }
      skelleton-main .sessions .sessions-item .skel-skelleton-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between; }
    skelleton-main .sessions .sessions-time {
      margin: -1px;
      max-width: 260px;
      width: 100%;
      min-height: 146px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #CFCFCF;
      box-sizing: border-box;
      border-radius: 2px; }
      skelleton-main .sessions .sessions-time .skel-con {
        margin: 0 110px 20px;
        background: #EAEAEA;
        width: 44px;
        height: 44px;
        border-radius: 50%; }
      skelleton-main .sessions .sessions-time .time {
        width: max-content;
        background: #EAEAEA;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        text-align: center;
        letter-spacing: -1px;
        text-transform: uppercase;
        color: #EAEAEA; }
    skelleton-main .sessions .sessions-information {
      display: flex;
      flex-direction: column;
      padding: 30px 68px 27px 40px; }
      skelleton-main .sessions .sessions-information h3 {
        width: max-content;
        background: #C2C2C2;
        border-radius: 2px;
        margin-bottom: 6px;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        text-transform: uppercase;
        color: #C2C2C2; }
      skelleton-main .sessions .sessions-information span {
        width: max-content;
        margin-bottom: 13px;
        font-style: normal;
        font-weight: 300;
        font-size: 8px;
        color: #CFCFCF;
        background: #CFCFCF; }
  skelleton-main .video {
    width: 100%; }
    skelleton-main .video h3 {
      width: max-content;
      margin-bottom: 20px;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: #CFCFCF;
      background: #CFCFCF; }
    skelleton-main .video-content {
      display: flex; }
    skelleton-main .video-last-skelleton-wrapper {
      flex-basis: 60%; }
    skelleton-main .video-last {
      background: #CFCFCF;
      display: block;
      max-width: 1100px;
      width: 100%;
      height: 619px; }
    skelleton-main .video .posts {
      flex-basis: 40%;
      height: auto;
      margin-left: 19px;
      display: flex;
      flex-direction: column; }
      skelleton-main .video .posts .posts-creator {
        padding: 15px 0;
        background: #EAEAEA;
        border-radius: 4px;
        box-sizing: border-box;
        display: flex; }
        skelleton-main .video .posts .posts-creator .skel-img {
          margin-left: 15px;
          margin-right: 15px;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          background: #FFFFFF; }
        skelleton-main .video .posts .posts-creator .skel-input {
          flex-basis: 60%;
          height: 36px;
          background: #FFFFFF;
          opacity: 0.5;
          border-radius: 2px; }
        skelleton-main .video .posts .posts-creator .skel-button {
          flex-basis: 30%;
          padding: 10px 20px;
          margin: 0 15px;
          width: 126px;
          height: 36px;
          background: #A6A6A6;
          border-radius: 2px; }
      skelleton-main .video .posts .posts-item {
        margin-top: 16px;
        width: 100%;
        height: auto;
        background: #EAEAEA;
        border-radius: 2px;
        box-sizing: border-box; }
        skelleton-main .video .posts .posts-item-image {
          padding: 15px 10px;
          flex-shrink: 1;
          flex-grow: 2; }
          skelleton-main .video .posts .posts-item-image .skel-img {
            background: #CFCFCF;
            display: block;
            max-width: 510px;
            width: 100%;
            height: 288px; }
        skelleton-main .video .posts .posts-item .skelleton-header {
          display: flex;
          justify-content: space-between; }
          skelleton-main .video .posts .posts-item .skelleton-header-content {
            display: flex; }
          skelleton-main .video .posts .posts-item .skelleton-header-avatar .skel-con {
            margin: 20px 15px 10px;
            background: #FFFFFF;
            width: 40px;
            height: 40px;
            border-radius: 50%; }
          skelleton-main .video .posts .posts-item .skelleton-header-info {
            margin-top: 23px;
            display: flex;
            flex-direction: column; }
            skelleton-main .video .posts .posts-item .skelleton-header-info .user-name {
              width: max-content;
              font-style: normal;
              font-weight: 500;
              font-size: 12px;
              color: #C2C2C2;
              background: #C2C2C2;
              border-radius: 2px; }
            skelleton-main .video .posts .posts-item .skelleton-header-info .date {
              display: flex;
              align-items: center; }
              skelleton-main .video .posts .posts-item .skelleton-header-info .date span {
                width: max-content;
                margin-top: 10px;
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                color: #CFCFCF;
                background: #CFCFCF; }
          skelleton-main .video .posts .posts-item .skelleton-header-more {
            width: 13px;
            height: 13px;
            border-radius: 50%;
            background: #CFCFCF;
            margin-top: 32px;
            margin-right: 15px; }
        skelleton-main .video .posts .posts-item .information {
          width: max-content;
          margin-left: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          display: flex;
          align-items: center;
          color: #C2C2C2;
          background: #C2C2C2;
          border-radius: 2px; }
        skelleton-main .video .posts .posts-item > img {
          margin: 15px; }
        skelleton-main .video .posts .posts-item .popularity {
          padding: 7px 0;
          margin: 0 15px;
          border-top: 1px solid #F4F9FD;
          border-bottom: 1px solid #F4F9FD;
          display: flex;
          justify-content: flex-end; }
          skelleton-main .video .posts .posts-item .popularity .vertical-line {
            margin-left: 8px;
            margin-right: 8px;
            width: 2px;
            background: #F4F9FD; }
          skelleton-main .video .posts .posts-item .popularity-item {
            background: #CFCFCF;
            border-radius: 2px;
            width: 30px;
            height: 8px; }
        skelleton-main .video .posts .posts-item .skelleton-footer {
          padding: 10px 15px;
          display: flex; }
          skelleton-main .video .posts .posts-item .skelleton-footer .skel-img {
            margin-right: 10px;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background: #FFFFFF; }
          skelleton-main .video .posts .posts-item .skelleton-footer .skel-input {
            flex-basis: 60%;
            height: 36px;
            background: #FFFFFF;
            opacity: 0.5;
            border-radius: 2px; }
          skelleton-main .video .posts .posts-item .skelleton-footer .skel-button {
            flex-basis: 30%;
            padding: 10px 20px;
            margin: 0 15px;
            width: 126px;
            height: 36px;
            background: #A6A6A6;
            border-radius: 2px; }
          skelleton-main .video .posts .posts-item .skelleton-footer button {
            padding: 10px 20px;
            margin-left: 10px;
            width: 126px;
            height: 36px;
            white-space: nowrap;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 1.25px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #74BD43;
            border: none;
            border-radius: 2px;
            text-shadow: none;
            cursor: pointer; }
  skelleton-main .recent {
    padding: 20px 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    skelleton-main .recent h3 {
      margin-bottom: 20px;
      width: max-content;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: #CFCFCF;
      background: #CFCFCF; }
    skelleton-main .recent-container {
      margin-top: 18px;
      display: flex;
      justify-content: center; }
      skelleton-main .recent-container-swiper {
        display: none; }
    skelleton-main .recent-item {
      padding: 30px;
      margin-left: 20px;
      max-width: 540px;
      width: 100%;
      background: #EAEAEA;
      border-radius: 2px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer; }
      skelleton-main .recent-item p {
        width: max-content;
        margin-top: 18px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        background: #CFCFCF;
        color: #CFCFCF;
        border-radius: 2px; }
      skelleton-main .recent-item h4 {
        margin-top: 5px;
        font-style: normal;
        font-weight: normal;
        font-size: 22px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0.2px;
        background: #C2C2C2;
        border-radius: 2px;
        color: #C2C2C2; }
      skelleton-main .recent-item:first-child {
        margin-left: 0; }
      skelleton-main .recent-item .image-skelleton-wrapper {
        width: 100%; }
        skelleton-main .recent-item .image-skelleton-wrapper .skel-img {
          width: 100%;
          height: 18vw;
          max-height: 343px;
          background: #CFCFCF; }
  skelleton-main .presenters {
    margin-top: 40px;
    display: flex;
    flex-direction: column; }
    skelleton-main .presenters h3 {
      width: max-content;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: #CFCFCF;
      background: #CFCFCF; }
    skelleton-main .presenters-container {
      padding-top: 30px;
      display: flex;
      justify-content: center;
      align-items: center; }
      skelleton-main .presenters-container-swiper {
        display: none; }
      skelleton-main .presenters-container .presenter {
        max-width: 390px;
        width: 100%;
        height: 28vw;
        max-height: 400px;
        margin-left: 20px;
        background: #EAEAEA;
        border-radius: 2px;
        box-sizing: border-box;
        position: relative; }
        skelleton-main .presenters-container .presenter-skelleton-wrapper {
          padding-bottom: 59px;
          max-width: 390px;
          width: 100%;
          height: 28vw;
          max-height: 400px;
          background: #EAEAEA;
          border-radius: 2px;
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;
          position: relative; }
        skelleton-main .presenters-container .presenter:first-child {
          margin: 0; }
        skelleton-main .presenters-container .presenter .position {
          margin-top: 15px;
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          display: flex;
          align-items: center;
          text-align: center;
          background: #F4F9FD;
          color: #F4F9FD;
          border-radius: 2px; }
        skelleton-main .presenters-container .presenter .name {
          margin-top: 15px;
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          display: flex;
          align-items: center;
          text-align: center;
          text-transform: uppercase;
          background: #F4F9FD;
          border-radius: 2px;
          color: #F4F9FD; }
        skelleton-main .presenters-container .presenter .socials {
          padding: 16px;
          max-width: 260px;
          height: 46px;
          background: #CFCFCF;
          border-radius: 2px;
          box-sizing: border-box;
          position: absolute;
          bottom: -25px;
          left: 15px;
          right: 15px;
          cursor: default; }
  skelleton-main .fun-stuff {
    padding-bottom: 150px;
    margin-top: 100px;
    display: flex;
    flex-direction: column; }
    skelleton-main .fun-stuff-container-swiper {
      display: none; }
    skelleton-main .fun-stuff h3 {
      width: max-content;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      color: #CFCFCF;
      background: #CFCFCF; }
    skelleton-main .fun-stuff-container {
      margin-top: 18px;
      display: flex;
      justify-content: center; }
      skelleton-main .fun-stuff-container .stuff {
        max-width: 540px;
        width: 100%;
        height: 450px;
        margin-left: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #CFCFCF;
        position: relative; }
        skelleton-main .fun-stuff-container .stuff-skelleton-wrapper {
          width: 100%;
          height: 100%; }
        skelleton-main .fun-stuff-container .stuff:first-child {
          margin-left: 0; }
        skelleton-main .fun-stuff-container .stuff-info {
          position: absolute;
          max-width: 450px;
          bottom: -50px;
          padding: 10px 20px 25px;
          height: 111px;
          background: #EAEAEA;
          border-radius: 2px;
          box-sizing: border-box;
          cursor: pointer;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center; }
          skelleton-main .fun-stuff-container .stuff-info h4 {
            width: max-content;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            text-align: center;
            letter-spacing: -1px;
            background: #C2C2C2;
            border-radius: 2px;
            color: #C2C2C2; }
          skelleton-main .fun-stuff-container .stuff-info p {
            width: 17vw;
            margin-top: 7px;
            font-style: normal;
            font-weight: normal;
            font-size: 8px;
            text-align: center;
            background: #CFCFCF;
            border-radius: 2px;
            color: #CFCFCF; }

/*# sourceMappingURL=skelleton-skelleton-main.css.map */
