/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.sessions-item-button {
    width: 100%;
    text-align: right;
}

.sessions-information {
    width: 100%;
}


.loginButton {
    width: 136px;
    height: 46px;
    background: var(--color-surface);
    white-space: nowrap;
    border-radius: 2px;
    border: none;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.login-frame {
    display: inline-grid;
    margin: 10px;
    float: right;
}


    .login-frame input {
        margin-top: 10px;
        padding: 10px;
        width: 350px;
    }

    .login-frame button {
        margin-top: 10px;
    }

.banner-img {
    width: 100%
}


.settings {
    flex-direction: column;
}

.textbox{
    width:100%;
    margin:20px;
}

.button {
    padding: 17px 35px;
    margin: 46px 40px 44px 0;
  
    height: 56px;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-surface);
    background: #FFFFFF;
    border: 1px solid var(--color-surface);
    box-sizing: border-box;
    border-radius: 2px;
    text-shadow: none;
    cursor: pointer;
    align-self: center;
}


.settings-item {
    padding: 30px;
    max-width: 540px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

main .presenters-container .presenter .name {
    height: 50px;
}

main .presenters-container .presenter .position {
    height: 32px;
}

.profiletitle{

    cursor:pointer;
}

main .presenters-container {
    width: 1660px !important;
    display: block !important;
   
}

.popup-close {
    float: right;
    cursor: pointer;
}

.wrapper main .recent-container {
    display: flex !important;
}

.buttonposter {
    margin: 46px 40px 44px 0;
    width: 210px;
    height: 56px;
    color: #025581;
    background: #fff;
    border: 1px solid #025581;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
}


.modal-video {
    position: absolute;
    top: 40px;
    left: 225px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.video-frame {
    width: 400px;
    height: 300px;
}

.ReactModal__Overlay ReactModal__Overlay--after-open {
    left: 220px !important;
}


.modal-video {
    position: absolute;
    top: 40px;
    left: 225px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}


    main .presenters-container .presenter {
        margin-bottom: 50px !important;
        display: inline-flex !important;
        margin-left: 0px !important;
        margin-right: 20px !important;
    }
.azuremediaplayer {
    width: 400px;
    height: 300px;
}
@media screen and (max-width: 3000px) {




    .video-frame {
        width: 1200px !important;
        height: 600px !important;
    }
    .azuremediaplayer {
        width: 1200px !important;
        height: 600px !important;
    }
}

@media screen and (max-width: 1280px) {
    main .presenters-container .presenter {
        max-width: 440px !important
    }

        main .presenters-container .presenter .socials {
            max-width: 190px !important;
        }

    .video-frame {
        width: 900px !important;
        height: 500px !important;
    }
    .azuremediaplayer {
        width: 900px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 1024px) {

    main .presenters-container {
        width: 900px !important;
    }
}

@media screen and (max-width: 600px) {

    .azuremediaplayer {
        width: 400px !important;
        height: 300px !important;
    }
    main .presenters-container {
        width: 450px !important;
    }

    .video-frame {
        width: 400px !important;
        height: 300px !important;
    }

    h3, .h3 {
        font-size: -14.25rem;
        font-size: 10px;
    }

    .modal-video {
        position: absolute;
        top: 120px;
        left: 5px;
        right: 5px;
        height: 515px;
    }
}


