/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

code {
    color: #E01A76;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.sessions-item-button {
    width: 100%;
    text-align: right;
}

.sessions-information {
    width: 100%;
}



.loginButton {
    width: 136px;
    height: 46px;
    background: var(--color-surface);
    white-space: nowrap;
    border-radius: 2px;
    border: none;
    text-shadow: none;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}

.login-frame {
    display: inline-grid;
    margin: 10px;
    float: right;
}


    .login-frame input {
        margin-top: 10px;
        padding: 10px;
        width: 350px;
    }

    .login-frame button {
        margin-top: 10px;
    }

.banner-img {
    width: 100%
}


.settings {
    flex-direction: column;
}

.textbox{
    width:100%;
    margin:20px;
}

.button {
    padding: 17px 35px;
    margin: 46px 40px 44px 0;
  
    height: 56px;
    white-space: nowrap;
    font-style: normal;
    font-weight: bold;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    color: var(--color-surface);
    background: #FFFFFF;
    border: 1px solid var(--color-surface);
    box-sizing: border-box;
    border-radius: 2px;
    text-shadow: none;
    cursor: pointer;
    align-self: center;
}


.settings-item {
    padding: 30px;
    max-width: 824px;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #CFCFCF;
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
    .settings-item .recent-info {
        width: 100%;
    }
main .presenters-container .presenter .name {
    margin-top: 0px !important;
    text-transform: none !important;
    min-height :90px !important;
}

main .presenters-container .presenter .position {
    height: 32px;
    display:block!important;
  
}

.profiletitle{

    cursor:pointer;
}

main .presenters-container {
    text-align:center;
    display: block !important;
  /*  display: flex !important;*/
}

.popup-close {
    float: right;
    cursor: pointer;
}

.wrapper main .recent-container {
    display: flex !important;
}

main .recent-item p {
    font-size: 18px !important;
    line-height: 20px !important;
    min-height: 40px !important;
    text-transform: none !important;
}

.buttonposter {
    /* margin: 46px 40px 44px 0; */
    margin: 40px 40px 40px 40px;
    width: 210px;
    height: 56px;
    color: #025581;
    background: #fff;
    border: 1px solid #025581;
    box-sizing: border-box;
    border-radius: 2px;
    align-self: center;
}


.modal-video {
    position: absolute;
    top: 40px;
    left: 225px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}

.video-frame {
    width: 400px;
    height: 300px;
}

.ReactModal__Overlay ReactModal__Overlay--after-open {
    left: 220px !important;
}


.modal-video {
    position: absolute;
    top: 40px;
    left: 225px;
    right: 40px;
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
}


    main .presenters-container .presenter {
        margin-bottom: 50px !important;
        display: inline-flex !important;
        margin-left: 0px !important;
        margin-right: 20px !important;
    }
.azuremediaplayer {
    width: 400px;
    height: 300px;
}
@media screen and (max-width: 3000px) {




    .video-frame {
        width: 1200px !important;
        height: 600px !important;
    }
    .azuremediaplayer {
        width: 1200px !important;
        height: 600px !important;
    }

    .mySlides .azuremediaplayer {
        width: 99% !important;
       
    }


}

@media screen and (max-width: 1280px) {
    main .presenters-container .presenter {
        /*max-width: 440px !important*/
        max-width: 380px !important
    }

        main .presenters-container .presenter .socials {
            max-width: 190px !important;
        }

    .video-frame {
        width: 900px !important;
        height: 500px !important;
    }
    .azuremediaplayer {
        width: 900px !important;
        height: 500px !important;
    }
}

@media screen and (max-width: 1024px) {

    main .presenters-container {
        width: 900px !important;
    }

    .wrapper main .recent-container {
        display: none !important;
    }

    .wrapper main .recent-container-swiper > .swiper-wrapper {
        display: none !important;
    }

    .mySlides .azuremediaplayer {
        width: 99% !important;
    }

    .questions .footer button {
        width: 120px;
    }
    .questions .footer input {
        width: 100% !important;
        max-width: 100% !important;
    }

    .questions {
        width: 60% !important;
    }

    .questions button {
        margin-top: 10px;
        margin-left: 0px !important;
    }
}

@media screen and (max-width: 768px) {
    .questions {
        width: 100% !important;
    }
}
    @media screen and (max-width: 600px) {
        .wrapper main .recent-container {
            display: none !important;
        }

        .wrapper main .recent-container-swiper > .swiper-wrapper {
            display: inline-block !important;
        }

        .azuremediaplayer {
            width: 400px !important;
            height: 300px !important;
        }

        main .presenters-container {
            width: 450px !important;
        }

        .video-frame {
            width: 400px !important;
            height: 300px !important;
        }

        h3, .h3 {
            font-size: -14.25rem;
            font-size: 10px;
        }

        .modal-video {
            position: absolute;
            top: 120px;
            left: 5px;
            right: 5px;
            height: 515px;
        }

        .mySlides .azuremediaplayer {
            width: 336px !important
        }

        .questions .footer input {
            width: 100% !important;
        }

        .questions {
            width: 100% !important;
            margin-left: 0px !important;
        }

            .questions button {
                margin-top: 10px;
                margin-left: 0px !important;
            }

            .questions footer {
            }

        .next {
            padding-right: 0 !important;
            margin-right: 0 !important;
        }
    }


    .conversation-number-help-done {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #EEEEEE;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #C2C2C2;
    }

    .conversation-number-help {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: #3D998A;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #C2C2C2;
    }


    .wrapper-login {
        margin-left: 0px !important;
    }

    .bold {
        font-weight: bold !important;
        color: #5E5E5E !important;
        font-size: 18px !important;
    }

    .italic {
        font-style: italic !important;
        font-weight: 400 !important;
        color: #5E5E5E !important;
        font-size: 18px !important;
    }

    main .video-content {
        justify-content: center;
        align-items: center;
    }

    .wrapper main .recent-container.poster-container {
        display: block !important;
        width: 100%;
        text-align: center;
    }

        .wrapper main .recent-container.poster-container .recent-item {
            max-width: 23% !important;
            display: inline-block !important;
            margin-bottom: 20px;
            min-width: 360px;
        }


            .wrapper main .recent-container.poster-container .recent-item:first-child {
                margin-left: 20px !important;
                min-width: 360px;
            }

    a.skelleton-menu-item {
        color: inherit !important;
        text-decoration: none !important;
    }


    header .chat-message-owner > .message-wrapper .message-forward {
        padding: 2px 5px;
        align-self: baseline;
        display: flex;
        flex-direction: column;
        border-left: 1px solid #C4C4C4;
    }

        header .chat-message-owner > .message-wrapper .message-forward span {
            font-family: Roboto, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            display: flex;
            align-items: center;
            letter-spacing: 0.15px;
            color: #353839;
            margin-top: 5px;
        }

    header .chat-message-guest > .message-wrapper > .message > span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
        color: #353839;
        margin-top: 5px;
    }

    header .chat-message-owner > .message-wrapper > .fix {
        display: inline-table !important;
    }

    header .chat-message-owner > .message-wrapper .message-forward span.name {
        color: black !important;
        font-weight: 400 !important;
    }

    header .chat-message-owner > .message-wrapper .message-forward span.name {
        color: black !important;
        font-weight: 400 !important;
    }

    header .chat-message-owner > .message-wrapper > .message > span {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
        color: #353839;
        margin-top: 5px;
    }

    header .chat-message-guest > .message-wrapper .message.fix2 {
        align-items: baseline !important;
    }

    header .chat-message-owner > .message-wrapper > .message > span {
        padding-bottom: 5px !important;
        flex-direction: row-reverse;
        padding-right: 5px;
    }


    main .presenters-container .presenter:first-child {
        min-height: 400px;
    }

    main .presenters-container .presenter {
        min-height: 400px;
    }

    .submenu-list {
        background-color: white;
    }

    nav .popover-submenu-list {
        background-color: white;
    }

    nav .popover-submenu {
        overflow: auto;
    }





    /* Slideshow container */
    .slideshow-container {
        position: relative;
        margin: auto;
        width: 100%;
    }

    /* Next & previous buttons */
    .prev, .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px !important;
        margin-top: -22px;
        color: white;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    .next {
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: rgba(0,0,0,0.8);
        }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 20px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

        .active, .dot:hover {
            background-color: #717171;
        }

    /* Fading animation */
    .fade {
        -webkit-animation-name: fade;
        -webkit-animation-duration: 1.5s;
        animation-name: fade;
        animation-duration: 1.5s;
    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
        .prev, .next, .text {
            font-size: 11px
        }
    }

    .next {
        padding-right: 30px !important;
        margin-right: 16px;
    }

    .collapsible {
        /* background-color: #777; */
        color: white;
        cursor: pointer;
        /* padding: 18px; */
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-top: 20px;
    }

.collapsibleRanking {
    /* background-color: #777; */
    color: white;
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    margin-top: 20px;
}

    span.fa.fa-star.checked {
        color: orange;
    }

    span.fa.fa-star {
        color: #CFCFCF
    }

        span.fa.fa-star :hover {
            color: #c2c2c2;
        }

    .questions {
        max-width: 540px;
        width: 100%;
        height: auto;
        margin-left: 19px;
        display: flex;
        flex-direction: column;
    }

        .questions .header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 30px;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 28px;
            letter-spacing: 1.3px;
            text-transform: uppercase;
            color: #5E5E5E;
        }


        .questions .posts-item {
            margin-bottom: 20px;
            background: #FFFFFF;
            border-bottom: 1px solid #f3f3f3;
            box-sizing: border-box;
            border-radius: 2px;
            display: flex;
            cursor: default;
        }


        .questions .question-inline .question-group {
            flex: 0 0 auto;
            flex-flow: row wrap;
            align-items: flex-start;
            margin-bottom: 0;
            flex-direction: column;
            max-width: -webkit-fill-available;
            width: 100%;
        }

    main .video-content {
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        align-items: flex-start;
    }

    .questions .footer input {
        max-width: 400px;
        min-width: 0;
        width: 66%;
        height: 36px;
        padding: 0 15px;
        opacity: 0.5;
        border: 1px solid #D1D0D0;
        box-sizing: border-box;
        border-radius: 2px;
    }

    .questions .footer button {
        padding: 10px 20px;
        margin-left: 10px;
        width: 126px;
        height: 36px;
        white-space: nowrap;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 1.25px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: var(--color-surface);
        border: none;
        border-radius: 2px;
        text-shadow: none;
        cursor: pointer;
    }

    .questions-icon {
        color: var(--color-surface);
        font-size: 50px;
    }

    .questions-icon-no {
        color: #CFCFCF;
        font-size: 50px;
    }

    .bottom-dot {
    }


    main .sessions .sessions-item:hover .sessions-time {
        background: var(--color-surface);
        border-radius: 2px;
    }


    .video-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: #5E5E5E;
    }

    .sessions-time-ranking {
        padding: 5px;
        /*   background: #d8d8d86e;*/
        margin-bottom: 5px;
    }


    main .sessions .ranking-star {
        max-width: 260px;
        width: 100%;
        min-height: 146px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        box-sizing: border-box;
        border-radius: 2px;
        align-items: center;
        flex-wrap: wrap;
        /*background: url(../assets/img/image_720x25.png);
    background-repeat: no-repeat;
    background-size: cover;*/
    }

    main .sessions .ranking-star-thumbnail {
        margin: 10px;
        max-width: 260px;
        width: 100%;
        min-height: 146px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: #FFFFFF;
        /*  border: 1px solid #CFCFCF;*/
        box-sizing: border-box;
        border-radius: 2px;
        align-items: center;
        flex-wrap: wrap;
        background: url(../assets/img/image_720x25.png);
        background-repeat: no-repeat;
        background-size: cover;
    }


    .popularity span.fa.fa-star:hover {
        color: orange;
    }


    .sessions-time-ranking-v2 {
        padding: 5px;
        margin-bottom: 5px;
    }

    .video-content .fun-stuff-container .stuff {
        height: 240px;
    }

    .fa .fa-times-circle {
    }

    .close-button {
        cursor: pointer;
        color: var(--color-surface);
    }

        .close-button:hover {
            color: orange;
        }

 


    .video-header-first {
        display: flex;
        justify-content: space-between;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 1.3px;
        text-transform: uppercase;
        color: #5E5E5E;
    }

    .video-header-second {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.7px;
        color: #353535;
        margin-bottom: 10px;
    }


    .question-inline {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        width: 100%;
    }


        .question-inline .popularity {
            float: right;
        }

    .Player-video-container {
        margin-bottom: 10px;
    }

    .content .video-header {
    }

.activeC {
    color: orange !important;
}



.amp-default-skin.amp-big-play-centered:hover .vjs-big-play-button, .amp-default-skin.amp-big-play-centered .vjs-big-play-button:focus {
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 100px solid var(--color-surface);
   opacity:0.8;
    border-bottom: 50px solid transparent;
}

.amp-default-skin.amp-big-play-centered:hover .vjs-big-play-button, .amp-default-skin.amp-big-play-centered .vjs-big-play-button {
    width: 0px;
    height: 0px;
    border-top: 50px solid transparent;
    border-left: 100px solid var(--color-surface);

    border-bottom: 50px solid transparent;
    content:icon;
}
.amp-default-skin .vjs-big-play-button::before {
    content:inherit;
}


.ranling-count {
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.7px;
    color: #c3c386;
    text-align: center;
    border-bottom: 2px solid #f3f3f3;
    font: menu;
}